<header class="b-header">
  <div class="b-header__top">
    <div class="b-header-line">
      <div class="b-container">
        <div class="b-header-line__wrap">
          <div class="b-header-line__left">
            <div class="b-header-line__item">
              <a href="#" class="b-header-line__text">Login / Signup</a>
            </div>
            <div class="b-header-line__item">
              <div class="b-dropdown-switcher">
                <span class="b-dropdown-switcher__title">
                  USD
                </span>
                <div class="b-dropdown-switcher__content">
                  <span class="b-dropdown-switcher__item">
                    USD
                  </span>
                  <span class="b-dropdown-switcher__item">
                    EUR
                  </span>
                  <span class="b-dropdown-switcher__item">
                    RUB
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="b-header-line__right">
            <div class="b-header-line__item">
              <a href="#" class="b-header-line__text">Help</a>
            </div>
            <div class="b-header-line__item">
              <a href="#" class="b-icon-item b-icon-item_heart">Wishlist</a>
            </div>
            <div class="b-header-line__item">
              <div class="b-dropdown-switcher">
                <span class="b-dropdown-switcher__title">
                  English
                </span>
                <div class="b-dropdown-switcher__content">
                  <span class="b-dropdown-switcher__item">
                    Russian
                  </span>
                  <span class="b-dropdown-switcher__item">
                    French
                  </span>
                </div>
              </div>
            </div>
            <div class="b-header-line__item">
              <a href="#" class="b-btn">Download app</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="b-header__middle">
    <div class="b-header-content">
      <div class="b-container">
        <div class="b-header-content__wrap">
          <div class="b-header-content__left">
            <a href="#" class="b-logo">
              <img src="img/logo.png" alt="">
            </a>
          </div>
          <div class="b-header-content__right">
            <div class="b-header-content__right-wrap">
              <div class="b-header-content__search">
                <form action="/" class="b-header-search">
                  <div class="b-header-search__input-wrap">
                    <input placeholder="Search..." type="text" class="b-header-search__input">
                  </div>
                  <div class="b-header-search__dropdown">
                    <div class="b-header-search__dropdown-title-wrap">
                      <span class="b-header-search__dropdown-title">
                        All categories
                      </span>
                    </div>
                    <div class="b-header-search__dropdown-content">
                      <span class="b-header-search__dropdown-item">
                        All categories
                      </span>
                      <span class="b-header-search__dropdown-item">
                        All categories
                      </span>
                      <span class="b-header-search__dropdown-item">
                        All categories
                      </span>
                    </div>
                  </div>
                  <div class="b-header-search__submit-wrap">
                    <button type="submit" class="b-header-search__submit"></button>
                  </div>
                </form>
              </div>
              <div class="b-header-content__cart">
                <div class="b-header-cart">
                  <div class="b-header-cart__icon">
                  </div>
                  <div class="b-header-cart__value">
                    0 item:
                  </div>
                  <div class="b-header-cart__price">
                    $0.00
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="b-header__bottom">
    <div class="b-container">
      <div class="b-header-menu">
        <div class="b-header-menu__left">
          <h3>Departments</h3>
          <div class="b-header-menu__left_blockMenu"></div>
          <div class="b-header-menu__left_sidebarMenu">
            

            <div class="b-header-menu__block_sidebarMen">
              <a href="#">
              <img src="img/computer.png" alt="img">
              <span class="textt">Fashion & Clothing</span></a>
            </div>
            <div class="b-header-menu__block_sidebarMen">
              <a href="#">
              <img src="img/mobile.png" alt="img">
              <span class="textt">Mobile Phones</span></a>
            </div>
            <div class="b-header-menu__block_sidebarMen">
              <a href="#">
              <img src="img/ball.png" alt="img">
              <span class="textt">Sports & Outerwear</span></a>
            </div>
            <div class="b-header-menu__block_sidebarMen">
              <a href="#">
              <img src="img/leaf.png" alt="img">
              <span class="textt">Foods & Fruits</span></a>
            </div>
            <div class="b-header-menu__block_sidebarMen">
              <a href="#">
              <img src="img/label.png" alt="img">
              <span class="textt">Beauty & Health</span></a>
            </div>
            <div class="b-header-menu__block_sidebarMen">
              <a href="#">
              <img src="img/bag-a.png" alt="img">
              <span class="textt">Shoes & Bags</span></a>
            </div>
            <div class="b-header-menu__block_sidebarMen">
              <a href="#">
              <img src="img/photo.png" alt="img">
              <span class="textt">Decors & Home</span></a>
            </div>
            <div class="b-header-menu__block_sidebarMen">
              <a href="#">
              <img src="img/el.png" alt="img">
              <span class="textt">Electronics & Hitech</span></a>
            </div>
            <div class="b-header-menu__block_sidebarMen">
              <a href="#">
              <img src="img/headphones.png" alt="img">
              <span class="textt">Accessories</span></a>
            </div>
            <div class="b-header-menu__block_sidebarMen">
              <a href="#">
              <img src="img/apple.png" alt="img">
              <span class="textt">Digital Software</span></a>
            </div>


          </div>
        </div>
        <div class="b-header-menu__right">
          <div class="b-header-menu-inner">
            <div class="b-header-menu-inner__left">
              <a href="#" class="b-header-menu-inner__item">
                Home
              </a>
              <a href="#" class="b-header-menu-inner__item">
                Shop
              </a>
              <a href="#" class="b-header-menu-inner__item b-header-menu-inner__item_hot">
                Fashion
                <div class="b-header-menu-inner__item_logohot"></div>
              </a>
              
              <a href="#" class="b-header-menu-inner__item b-header-menu-inner__item_new">
                Electronics
                <div class="b-header-menu-inner__item_logonew"></div>
              </a>
              <a href="#" class="b-header-menu-inner__item">
                Pages
              </a>
              <a href="#" class="b-header-menu-inner__item">
                Features
              </a>
              <a href="#" class="b-header-menu-inner__item">
                Blog
              </a>
            </div>
            <div class="b-header-menu-inner__right">
              <div class="b-header-menu-inner__text">Call us free:</div>
              <div class="b-header-menu-inner__label">1-800-777-7889</div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</header>
